include ../icon/icon

mixin search(data)
    +b.FORM.search#search(action="#" method="#")&attributes(attributes)
        +e.INPUT.text(type="text" placeholder= search.text)
        +e.BUTTON.btn(type="submit" value="Найти")
            +icon({ icon: ('icon_' + search.icon ) })