mixin user(data)
    +b.UL.user()&attributes(attributes)
        +e.item
            +e.A.link_icon(href="#") Онлайн-табло
                != pugHelpers.Icon.call(locals, {iconName: 'icon_clock', className: 'svg-icon', iconWidth: '20', iconHeight: '20'})
        +e.item
            +e.A.link#modal-open(href="#modal-sign-in") Вход и регистрация