.user {
    padding: 0;
    margin: 0;

    font-size: 0;
    text-align: center;

    list-style: none;

    @media screen and (min-width: 640px) {
        float: right;
    }
    
    &__item {
        display: inline-block;
        padding: 0;
        margin: 0;

        vertical-align: top;

        &:nth-child(1) {
            padding: 12px 24px;
            padding: rem(12) rem(24);
        }

        &:nth-child(2) {
            padding: 12px 19px;
            padding: rem(12) rem(19);
        }

    }
        
    &__link {
        display: inline-block;
        padding: 0;
        margin: 0;

        font-size: 12px;
        font-size: rem(12);
        font-weight: 700;
        color: #0c4da2;
        vertical-align: top;
        text-decoration: none;

        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;

        &_icon {
            position: relative;

            padding-left: 30px;
            padding-left: rem(30);

            .icon {
                position: absolute;
                top: -3px;
                top: rem(-3);
                left: 0;

                width: 20px;
                width: rem(20);
                height: 20px;
                height: rem(20);
            }
        }
    }
}
