include ../icon/icon

mixin user(data)
    +b.UL.user()&attributes(attributes)
        each item in user
            +e.item
                if item.icon
                    +e.A.link_icon(href=(item.href || jv0))= item.text
                        +icon({ icon: ('icon_' + item.pic ) })
                else
                    +e.A.link#modal-open(href=(item.href || jv0))= item.text
                    
