mixin slider(data)
    +b.slider()&attributes(attributes)
        +e.list
            each item in slider
                +e.item
                    +e.img-wrapper
                        +e.IMG.img(src=(item.src || '') alt=(item.alt || '') width=(item.width || '') height=(item.height || ''))
                        +e.text
                            +e.H2.title= (item.titleTextBig || '')
                                span= (item.titleTextSmall || '')
                            +e.P.subtitle= (item.subtitle || '')
        +e.controls
            +e.BUTTON.btn_left left
            +e.BUTTON.btn_right right