mixin lang(data)
    +b.UL.lang()&attributes(attributes)
        +e.item
            +e.A.link(href="#") USA site
        +e.item
            +e.A.link(href="#") Deutsch site
        +e.item
            +e.SPAN.label Россия:
            +e.link(href="#") Switch to english