mixin lang(data)
    +b.UL.lang()&attributes(attributes)
        each item in lang
            +e.item
                if item.label
                    +e.SPAN.label= item.country
                +e.link(href=(item.href || jv0))= (item.text || 'lang link')
                