mixin form(data)
    +b.FORM.form#form-sign-in(action="index.php" method="post" name="form-sign-in")&attributes(attributes)
        each item in form
            +e.item
                +e.LABEL.label(for=(item.type || ''))= (item.name || '')
                +e.INPUT.input(type=(item.type || '') name=(item.type || '') id=(item.type) required)
        +e.INPUT.btn(type="submit" value="Войти")
