mixin tabs(data)
    +b.UL.tabs()&attributes(attributes)
        each item in tabs
            +e.btn
                if item.active
                    +e.A.link_active(href=('#' + item.tab) data-tab= item.tab)= item.text
                else
                    +e.A.link(href=('#' + item.tab) data-tab= item.tab)= item.text