mixin tabs(data)
    +b.UL.tabs()&attributes(attributes)
        +e.btn
            +e.A.link_active(href="#first" data-tab="first") Возможности
        +e.btn
            +e.A.link(href="#second" data-tab="second") Информация
        +e.btn
            +e.A.link(href="#third" data-tab="third") Привилегии